header{
    background-color: rgb(137, 43, 226);
    z-index: 112;
    position: sticky;
    top: 20px;
}
header.scroll{
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    transition: all .3s ease-in-out;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}